<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div th:replace="fragments/header :: cabecera">
	</div>

	<div align="center">

		<input class="nombre_partido" placeholder="Nombre del partido" type="text" /> 
		<br></br>
		<input class="sigla_partido" placeholder="Sigla del partido" type="text" /> 
		<br></br>
		<input class="candidato_partido" placeholder="Candidato" type="text" /> 		
		<br></br>
		<br></br>
		<br></br>
		<a href="" class="boton_partido">AÑADIR</a>
		
	</div>

</body>
</html>