<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<div th:replace="fragments/header :: cabecera">
	</div>

	<div align="center">

		<input class="cod_colegio" placeholder="Código del colegio" type="text" /> 
		<br></br>
			
		<input class="circunscripcion_colegio" placeholder="Circunscripción" type="text" /> 
		<br></br>
		
		<input class="ca_colegio" placeholder="Comunidad Autónoma" type="text" /> 
		<br></br>
		
		<br></br>
		<br></br>
		<br></br>
		<a href="" class="boton_colegio">AÑADIR</a>
		
	</div>

</body>
</html>