<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="css/datepicker.css"/>
        <link rel="stylesheet" href="css/bootstrap.css"/>
        
        <link type="text/css" href="css/bootstrap.min.css" />
        <link type="text/css" href="css/bootstrap-timepicker.min.css" />
        

</head>
<body>
<div th:replace="fragments/header :: cabecera"></div>
</body>

	<div align="center">
		<input class="nombre_elecciones" placeholder="Nombre de las elecciones" type="text" /> 
		<br></br>
		
		<label class="etiqueta_fecha_inicial" for="fecha_inicial">Fecha inicial de las elecciones: </label>
		<input id="fecha_inicial" class="fecha_inicial" type="date" /> 
		<input class="hora_inicial" type="time" />
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
		<br></br>
		
		<label class="etiqueta_fecha_final" for="fecha_final">Fecha final de las elecciones: </label>
		<input id="fecha_final" class="fecha_final" type="date" /> 
		<input class="hora_final" type="time"/>
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
		<br></br>
		
		<input class="opciones_voto" placeholder="Opciones de voto" type="text" /> 
		
		<br></br>
		<br></br>
		<br></br>
		<a href="add_partido.html" class="boton_add_partido">AÑADIR PARTIDO</a><a href="add_colegio.html" class="boton_add_colegio">AÑADIR COLEGIO ELECTORAL</a>
			
		<br></br>
		<br></br>
		<br></br>
		<a href="" class="boton_modificar">MODIFICAR</a>
		
		
		
		
        
        <script src="js/jquery-1.9.1.min.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
                $('#example1').datepicker({
                    format: "dd/mm/yyyy"
                });  
            
            });
        </script>
        
        
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
        
        <script type="text/javascript">
            $('#timepicker1').timepicker();
        </script>
        
  
	
	</div>

</html>